/* positioning of the info button */
.positionIbutton1 {
    margin-left: 93%;
    margin-top: 66%;
}

.positionIbutton2 {
    margin-left: 14%;
    margin-top: 5%;
}

.positionIbutton3 {
    margin-left: 78%;
    margin-top: 61.6%;
}

.positionIbutton4 {
    margin-left: 10%;
    margin-top: 35%;
}

.positionIbutton5 {
    margin-left: 50%;
    margin-top: 35%;
}

.positionIbutton6 {
    margin-left: 60%;
    margin-top: 35%;
}

.positionIbutton7 {
    margin-left: 70%;
    margin-top: 35%;
}

.positionIbutton8 {
    margin-left: 80%;
    margin-top: 35%;
}

.positionIbutton9 {
    margin-left: 90%;
    margin-top: 35%;
}

.positionIbutton10 {
    margin-left: 99%;
    margin-top: 35%;
}

.positionIbutton11 {
    margin-left: 39.7%;
    margin-top: 30.8%;
}

.positionIbutton12 {
    margin-left: 46.5%;
    margin-top: 38.5%;
}

.positionIbutton13 {
    margin-left: 50.5%;
    margin-top: 62.5%;
}

.positionIbutton14 {
    margin-left: 67.3%;
    margin-top: 65%;
}

.positionIbutton15 {
    margin-left: 50%;
    margin-top: 5%;
}

.positionIbutton16 {
    margin-left: 60%;
    margin-top: 5%;
}

.positionIbutton17 {
    margin-left: 70%;
    margin-top: 5%;
}

.positionIbutton18 {
    margin-left: 80%;
    margin-top: 5%;
}

.positionIbutton19 {
    margin-left: 90%;
    margin-top: 5%;
}

.positionIbutton20 {
    margin-left: 99%;
    margin-top: 5%;
}

.positionIbutton21 {
    margin-left: 45.3%;
    margin-top: 28.4%;
}

.positionIbutton22 {
    margin-left: 40%;
    margin-top: 42%;
}

.positionIbutton23 {
    margin-left: 57.5%;
    margin-top: 57%;
}

.positionIbutton24 {
    margin-left: 82.3%;
    margin-top: 54%;
}

.positionIbutton25 {
    margin-left: 50%;
    margin-top: 65%;
}

.positionIbutton26 {
    margin-left: 60%;
    margin-top: 65%;
}

.positionIbutton27 {
    margin-left: 70%;
    margin-top: 65%;
}

.positionIbutton28 {
    margin-left: 80%;
    margin-top: 65%;
}

.positionIbutton29 {
    margin-left: 90%;
    margin-top: 65%;
}

.positionIbutton30 {
    margin-left: 99%;
    margin-top: 65%;
}