/* positioning of the info button */

/* existing waterbody 3 items */
.positionIbutton0 {
    margin-left: 93%;
    margin-top: 66%;
}

.positionIbutton1 {
    margin-left: 14%;
    margin-top: 5%;
}

.positionIbutton2 {
    margin-left: 78%;
    margin-top: 61.6%;
}

/* recreational areas 4 items */
.positionIbutton3 {
    margin-left: 39.7%;
    margin-top: 30.8%;
}

.positionIbutton4 {
    margin-left: 46.5%;
    margin-top: 38.5%;
}

.positionIbutton5 {
    margin-left: 50.5%;
    margin-top: 62.5%;
}

.positionIbutton6 {
    margin-left: 67.3%;
    margin-top: 65%;
}

/* towns 4 items */
.positionIbutton7 {
    margin-left: 45.3%;
    margin-top: 28.4%;
}

.positionIbutton8 {
    margin-left: 40%;
    margin-top: 42%;
}

.positionIbutton9 {
    margin-left: 57.5%;
    margin-top: 57%;
}

.positionIbutton10 {
    margin-left: 82.3%;
    margin-top: 54%;
}
/* Buffers items 1 */

.positionIbutton11 {
    margin-left: 48.8%;
    margin-top: 48%;
}

/* Information */
.positionIbutton12 {
    margin-left: -1.6%;
    margin-top: 35%;
}

.positionIbutton13 {
    margin-left: -3.2%;
    margin-top: 35%;
}

.positionIbutton14 {
    margin-left: -4.8%;
    margin-top: 35%;
}

.positionIbutton15 {
    margin-left: -6.4%;
    margin-top: 35%;
}

.positionIbutton16 {
    margin-left: -8%;
    margin-top: 35%;
}

.positionIbutton17 {
    margin-left: -9.6%;
    margin-top: 35%;
}

.positionIbutton18 {
    margin-left: 39.7%;
    margin-top: 30.8%;
}